#
# This is a gitdm configuration file for FOO project 
#

#
# EmailAliases lets us cope with developers who use more
# than one address.
#
EmailAliases foo-config/aliases

#
# EmailMap does the main work of mapping addresses onto 
# employers.
#
EmailMap foo-config/domain-map
EmailMap foo-config/email-map

#
# Use GroupMap to map a file full of addresses to the 
# same employer
#
# GroupMap sample-config/illuminati  The Illuminati
#
GroupMap foo-config/groups/att AT&T
GroupMap foo-config/groups/redhat Red Hat

#
# Use FileTypeMap to map a file types to file names using regular
# regular expressions.
#
FileTypeMap foo-config/filetypes.txt
